.dash-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef1f7;
}

.dash-card {
  width: 400px;
  padding: 30px;
  background: #fff;
  text-align: center;
  border-radius: 14px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.dash-card h1 {
  margin-bottom: 10px;
}

.dash-card p {
  font-size: 1.1rem;
}

.dash-card button {
  margin-top: 20px;
  padding: 12px;
  width: 220px;
  background: #1570ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.dash-card button:hover {
  backgro
