.result-container {
  max-width: 780px;
  margin: auto;
  padding: 20px;
}

.result-container h1 {
  text-align: center;
  color: #222;
  margin-bottom: 25px;
}

.section {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.section h2 {
  margin-bottom: 10px;
  color: #333;
}

.section ul li {
  margin: 6px 0;
  font-size: 15px;
  color: #444;
}

.download-btn {
  margin-top: 30px;
  background: #536dfe;
  color: white;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
}

.download-btn:hover {
  background: #3549ff;
}
