.upload-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.upload-card {
  width: 450px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.upload-card h2 {
  text-align: center;
}

.upload-card select, 
.upload-card input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.file-list {
  margin-top: 15px;
  padding: 15px;
  background: #f4f6ff;
  border-radius: 10px;
}

.upload-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: #084cdf;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.upload-btn:hover {
  background: #043bb5;
}
